@using SalesSystem.Models;
@model IEnumerable<Manufacturer>

@{
    //ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@{ 

    int counter = 0;
}



@foreach (var manufacturer in Model)
{

    <div class="span9">
        <div class="well well-small">

            <div class="span12">
                <h4>@manufacturer.Name</h4>
            </div>


            @{                
                Html.RenderAction(actionName: "ProductView",
                               controllerName: "Product",
                               routeValues: new { categoryID = TempData["categoryID"], manufacturerID = @manufacturer.ID });
            }

            

        </div>


       
    </div>

    
        if (counter == 0)
        {
            Html.RenderAction(actionName: "CartDetails", controllerName: "Cart", routeValues: null);
        }
    
            counter++;
        }






@*@using SalesSystem.Models;
@model IEnumerable<Product>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="span9">
    <div class="well well-small">


        <div class="span12">
            <h4>Manufacturer Name</h4>
        </div>


        @{
            int counter = 1;
        }

        @foreach (var product in Model)
        {

            <div class="row-fluid">
                <div class="span2">
                    <img src="@Url.Content("/assets/")img/a.jpg" alt="">
                </div>
                <div class="span6">
                    <h5>Product Name </h5>
                    <p>
                        Nowadays the lingerie industry is one of the most successful business spheres.
                        We always stay in touch with the latest fashion tendencies -
                        that is why our goods are so popular..
                    </p>
                </div>
                <div class="span4 alignR">
                    <form class="form-horizontal qtyFrm">
                        <h3> $140.00</h3>
                        <label class="checkbox">
                            <input type="checkbox">  Adds product to compair
                        </label><br>
                        <div class="btn-group">
                            <a href="product_details.html" class="defaultBtn"><span class="icon-shopping-cart"></span> Add to cart</a>
                            <a href="product_details.html" class="shopBtn">VIEW</a>
                        </div>
                    </form>
                </div>
            </div>
            if (counter < Model.Count())
            {
                <hr class="soften">
            }

            counter++;
        }

    </div>
</div>*@

